<table border="1">
  <thead>
    <tr>
      <td>Id</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Birth Date</td>
      <td colspan="2">Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agent of agents">
      <td>{{agent.id}}</td>
      <td>
        <a [routerLink]="['detail', agent.id]">{{agent.fname}}</a>
      </td>
      <td>{{agent.lname}}</td>
      <td>{{agent.birthDate}}</td>
      <td>
        <a (click)="onDelete(agent.id)">Supprimer</a>
      </td>
    </tr>
  </tbody>
</table>
